* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #fffff0;
    --secondary-color: #212121;
}

body {
    min-height: 100vh;
    background: var(--primary-color);
    color: var(--secondary-color);
    ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero_container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}


.container {

    width: 100%;
    margin: 24px auto 0px auto;
    max-width: 1000px;
}

.container section {
    margin-bottom: 24px;
}

.article {
    margin-bottom: px;
    display: inline-block;
}

.article img {
    width: 200px;
}

.article p {
    width: auto;
}

.experience div {
    margin-bottom: 20px;
    display: inline-block;
    width: 30%;
    margin-top: 30px;
}


.experience ul {

    margin-left: 12px;
}

.logo {
    width: 230px;
    height: auto;
    cursor: pointer;
}

.img {
    padding: 12px;
    margin: 0px;
    width: 245px;
    float: left;
    position: relative;
}


/* navigation bar*/
nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

nav a.current {
    background-color: #dc143c;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;

}

/*hidden menu underline and font size of menu*/
nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

nav ul li a:hover {
    color: #dc143c;
}

/*menu animation of underline*/
nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #dc143c;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

/* menu animation when hover */
nav ul li a:hover::after {
    width: 100%;
}

/* dark-light theme*/
#themeicon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.theme {
    --primary-color: #212121;
    --secondary-color: #fffff0;
}

/* introduction text */

h1 {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}

.intro h1 {
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

span {

    color: #dc143c;
}

.intro p {
    font-size: 30px;
    color: var(--secondary-color);
    line-height: 44px;
}

/*Resume download link box*/
.intro button {
    vertical-align: middle;
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 0;
    border-radius: 20px;
}

.intro .socials div {
    line-height: 60px;
}

.intro .socials a {
    vertical-align: middle;
    text-decoration: none;
}

/*footer*/
footer {
    background-color: var(--primary-color);
    padding: 3px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: var(--secondary-color);
}